@keyframes body_animation {
  from {
    background-color: rgb(58, 58, 58);
  }
  to {
    background-color: whitesmoke;
  }
}

@keyframes image_animation {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }
  to {
    opacity: 25;
    transform: translate(0px);
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide_in_left {
  from {
    opacity: 0;
    transform: translate(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes slide_in_right {
  from {
    opacity: 0;
    transform: translate(100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes slide_in_up {
  from {
    opacity: 0;
    transform: translate(0px, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes scale {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes hr {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}

body {
  animation-name: body_animation;
  animation-duration: 5s;
  background-color: whitesmoke;
}

header {
  display: block;
  position: relative;
  right: auto;
  left: auto;
  bottom: 100px;
  margin: 150px 400px 150px 400px;
  padding: 0px 0px 0px 0px;
  border-radius: 100px;
  box-shadow: rgb(98, 194, 225) 0px 3px 40px;
  opacity: 0;
  animation-name: fade_in;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.image {
  display: block;
  width: 20%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
  left: 100px;
  top: 60px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.25) 0px 3px 7px -3px;
  animation-name: image_animation;
  opacity: 0;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.name {
  display: inline-block;
  font-family: Arial;
  font-size: 1.5em;
  color: black;
  position: relative;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  bottom: 200px;
  left: 270px;
  opacity: 0;
  animation-name: fade_in;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.essay {
  display: inline-block;
  tab-size: 4;
  font-family: Arial;
  font-size: 1em;
  color: black;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
  bottom: 60px;
  left: 0px;
  opacity: 0;
  animation-name: fade_in;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

hr {
  background: linear-gradient(
    to right,
    transparent,
    #009dff,
    #0da2ff,
    #26abff,
    #59bfff,
    #8cd3ff,
    #bfe6ff
  );

  height: 5px;
  rotate: 90deg;
  border-radius: 50px;

  position: relative;
  bottom: 75px;
  padding: 0px 0px 0px 0px;
  width: 20%;

  animation-name: hr;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
}

.a_container {
  display: grid;
  position: relative;

  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
  height: auto;
  max-width: fit-content;

  bottom: 250px;
}

.aca {
  grid-row: 1;
  grid-column: auto;
  opacity: 0;
  animation: slide_in_left 3s 7s ease-in-out forwards;
  width: 600px;

  position: relative;
  right: 50px;
}

.aci {
  grid-row: 1;
  grid-column: auto;
  opacity: 0;
  animation: slide_in_right 3s 7s ease-in-out forwards;

  position: relative;
  left: 50px;
  width: 600px;
}
.title {
  font-size: 2em;
  font-family: Arial;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-decoration: underline;
  font-weight: bold;
}
.list {
  font-family: Arial;
  font-size: 1.5em;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 0px;
}

.projects {
  display: inline-block;
  position: relative;
  bottom: 100px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: Arial;
  font-weight: bold;
  text-decoration: underline;
  font-size: 2em;
  opacity: 0;
  animation-name: fade_in;
  animation-duration: 2s;
  animation-delay: 8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.container {
  display: flex;
  margin-left: 20%;
  position: relative;
  right: 10%;
  bottom: 80px;
  opacity: 0;
  animation-name: slide_in_left;
  animation-duration: 2s;
  animation-delay: 9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.projectcard {
  flex: 1;
  position: relative;
  background-color: white;
  border-radius: 20px;
  margin-left: 10px;
  height: 200px;
  transition: 0.3s all ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.projectcard:hover {
  flex: 2;
  background-color: rgb(207, 207, 207);
}

.projectcardScaleTx {
  transform: scale(1.2);
  transform: translate(100px);
}
.projectname {
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  opacity: 0;
  animation-name: fade_in;
  animation-duration: 3s;
  animation-delay: 10s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.contacts {
  display: inline-block;
  font-family: Arial;
  font-size: 2em;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: 20px;
  opacity: 0;
  z-index: -1;
  animation-name: fade_in;
  animation-duration: 2s;
  animation-delay: 11s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: whitesmoke;
  position: relative;
  bottom: 80px;
  margin: 50px 50px 50px 50px;
  padding: 0px 0px 0px 0px;

  animation-name: body_animation;
  animation-duration: 5s;
}

.contactscard {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  font-family: Arial;
  font-weight: bold;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.25) 0px 3px 7px -3px;
}

.bi {
  width: 30px;
  height: 30px;
}
